<h1 style="text-align: center; margin: 10px 0; color: red;">Ajout d'un produit</h1>
<form action="" class="m-3">
    <div class="container">
        <div class="form-group mb-4">
            <label for="" class="mb-2">Id:</label>
            <input type="text" name="id" id="" class="form-control" [(ngModel)]="produit.id">
        </div>
    
        <div class="form-group mb-4">
            <label for="" class="mb-2">titre:</label>
            <input type="text" name="title" id="" class="form-control" [(ngModel)]="produit.title">
        </div>
    
        <div class="form-group mb-4">
            <label for="" class="mb-2">prix:</label>
            <input type="text" name="prix" id="" class="form-control" [(ngModel)]="produit.price">
        </div>
        <div class="form-group mb-4">
            <label for="" class="mb-2">Quantité:</label>
            <input type="text" name="prix" id="" class="form-control" [(ngModel)]="produit.quantite">
        </div>
    
        <button type="submit" class="btn btn-primary" (click)="save()">Ajouter</button>
    </div>

</form>




